  /* Estilos CSS */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .video-effects {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .audio-effects {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .effect-item {
    margin: 0 10px;
    cursor: pointer;
  }
  
  
  .export-button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: white;
    border: none;
    cursor: pointer;
  }
  